:root {
  --border-color: rgba(0, 0, 0, 0.2);
  --border-regular: 1px solid var(--border-color);
}

body {
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: #4065ff;
  color: white;
  font-weight: bold;
}

input {
  &:focus-visible {
    outline: none;
  }
}
